# C3D
c3d-1.1.0-Linux-gcc64/
c3d-1.1.0-Linux-gcc64.tar.gz

# Sample data (either provide script to download or point users)
sample_data/
sub-P001*
sub-P002*
keras*
electrode_masks/
preproc_results/
demo*
Contact_segmentation.ipynb
.ipynb_checkpoints/*
clustering_approach/
