# C3D
c3d-1.1.0-Linux-gcc64/
c3d-1.1.0-Linux-gcc64.tar.gz

# Sample data (either provide script to download or point users)
sample_data/
sub-P001*
sub-P002*
electrode_masks/
.ipynb_checkpoints*
monai_c3d_implementation/.ipynb_checkpoints/
preproc_contact_seg/preproc_contact_seg/.venv/
monai_c3d_implementation/.ipynb_checkpoints*
